#empty
	.related_question_empty
		You can expand your search by 
		%span.url
			= link_to "starting over!", root_url
	.related_question_ask
		= link_to "Please always feel free to ask your question!", new_question_url