- questions_link = questions_link_for(params[:action])

- content_for :nav_filters do
  = render "questions/nav_filters", :questions_link => questions_link
  
.questions-tags
  - if !current_tags.empty?
    .title Tagged
    .tags
      - current_tags.each do |tag|
        .tag
          .tag-left
            = tag
          - tags = (current_tags - [tag])
          = link_to "X" , tags_url + ":" + tags.join("+"), :class => "remove_tag"
          .clear{style: "clear:both"}

%section.questions-index
  = render 'shared/posts'
 