.top
  %h1
    = t("badges.index.title")
  %p.description
    Community gives you awards for your questions, answers and votes.<br/>
    Below is the list of available badges and number of times each type of badge has been awarded. Have ideas about fun badges? Please, give us your
    <a href="/shapado_feedback/" style="color:#1B79BD">feedback</a>

.badges
  %table
    - @badges.sort_by{|b| b.name}.each do |badge|
      %tr
        %td
          .badge_item
            -link_params = {:id => badge.token}
            -if badge.for_tag
              -link_params[:type] = badge.type

            = pjax_link_to badge.name, "badges", badge_path(link_params), {:class => "badge #{badge.type}", :title => badge.description}
            .counter
              == × #{Badge.count(badge["token"], current_group)}
        %td
          .badge_description
            =badge.description
