%nav
  %ul.content-tabs
    %li.questions
      = link_to t('layouts.application.all'), url_for(questions_link)
    %li.unanswered
      = link_to t('layouts.application.unanswered'), url_for(questions_link.merge(:unanswered => 1))
    