-if widget.title.present?
  .module.clearfix.widget.block{:class => 'widget-custom_html'}
    -if !(widget.settings||{})["notitle"]
      %h3= widget.title

    %aside
      .markdown
        = find_and_preserve(shapado_auto_link(markdown(widget.content)))

