@import 'setup'

//Index
article.Question.accepted
  border-left: 1px solid #A2C538
  

.activity-info
  float: right
  width: 200px
  margin-top: 10px
  padding: 6px 6px 0 6px
  border-radius: 5px
  background-color: #efefef
  clear: right        
  .author
    clear: both
    .avatar_left
      float: left
      margin: 0 3px 5px 0
    .user_info
      font-size: 10px
      padding-top: 5px


// Main Question
.main-question, article.answer
  padding: 15px 0 5px 0
  .main-sidebar-left
    float: left
    .question_vote_box, .answer_vote_box
      margin: 0 10px 0 10px
  .main-content
    float: left
    padding: 0
    width: 93%
    h1
      font-size: 25px
      margin: 0px 15px 0px 13px
      &:first-letter
        text-transform: uppercase 
    .question_body, .answer_body
      padding-left: 13px
      
  .toolbar
    margin: 0 5px 10px 15px
    .menubar
      a
        padding-left: 22px
        background: image-url("question-toolbar-icons-small.png") 5px 7px  no-repeat

      .answer a
        background-position: 5px 7px
        &:hover, .answer:hover a
          background-position: 5px -23px

      .follow
        .follow-q
          background-position: 5px -261px
        .follow-q:hover, &:hover .follow-q
          background-position: 5px -241px
        .unfollow-q
          background-position: 5px -218px
        .unfollow-q:hover, &:hover .unfollow-q
          background-position: 5px -194px

      .share_on a
        background-position: 5px -121px
        &:hover, &.active, .share_on:hover .share_on a
          background-position: 5px -97px

      .more a
        background-position: 5px -380px

      .activity
        a
          background-position: 5px -73px
          &:hover, &.active
            background-position: 5px -49px
        &:hover a
          background-position: 5px -49px

      .followUp
        a
          background-position: 6px -606px
          &:hover, &:active
            background-position: 6px -580px
        &:hover a
          background-position: 6px -580px

      .close
        a
          background-position: 5px -357px !important
          &:hover, &.active, .close:hover a
            background-position: 5px -329px !important
        &:hover a
          background-position: 5px -329px !important

      #request-close-link
        background-position: 5px -657px
        &:hover
          background-position: 5px -634px

      .delete, .delete-q
        a
          background-position: 5px -546px
          &:hover, &.active
            background-position: 5px -518px
        &:hover a
          background-position: 5px -518px

      .edit-q
        a
          background-position: 5px -305px
          &:hover, &.active
            background-position: 5px -282px
        &:hover a
          background-position: 5px -282px

      .ban a
        background-position: 5px -170px
        &:hover, &.active, .ban:hover a
          background-position: 5px -146px

      #flag_question
        background-position: 5px -722px
        &:hover
          background-position: 5px -744px

      .add_reward a
        background-position: 5px -767px !important
        &:hover, .add_reward:hover a
          background-position: 5px -787px !important
          

// Main Question - Answers
#answers-content-wrap
  clear: both
  h2
    padding: 10px 15px 10px 15px
    color: #7EA9B3

  .filters
    padding-left: 1%
    width: 99%

  .answers-list
    clear: both
    .empty
      display: block
      clear: both
      padding: 20px 30px
      overflow: hidden
      img
        float: left
        margin: 0 10px 0 0
      h2
        background: none
        border: 0px
        padding: 0

    article.solution
      background: image-url("answer-winner.png") 490px 20px no-repeat
      h4.author
        width: 460px

    .answer_vote_box
      float: left
      width: 24px
      margin-right: 5px

    .answer
      .author
        margin: 0 0 5px 0
        *
          font-size: 11px
          font-weight: normal
          font-style: italic
        .user-data a
          font-size: 12px
          font-weight: bold
          font-style: normal
        img
          float: left
          margin: 0 10px 0 0

// Main Question - Answers messages
.followUp-content
  display: block
  clear: both
  padding: 20px 30px
  overflow: hidden

#close_reason
  padding: 10px
  clear: both
  float: none
  display: block
  text-align: center
  font-size: 14px

//forms
.questions-controller
  form.question_comment_form,
  form.answer_comment_form
    padding: 5px 20px 1px 20px
    margin: 0 0 10px 35px
    fieldset
      margin-bottom: 10px
      padding-top: 10px
    textarea
      height: 1.4em
      width: 100%
      margin: 0 0 10px 0
      &.markdown_editor
        height: 7em

  .edit_comment_form
    padding: 0 20px 1px 20px
    margin: 10px -10px 10px 0 !important
    textarea
      width: 395px
      
  .ask_question
    .question-form
      .related_questions
        #related_questions
          #empty
            display: none

  .edit_answer
    padding: 20px
    width: auto !important
    overflow: hidden
    margin-top: 10px
    .field
      margin: 0
      input
        margin-bottom: 10px

  .related_questions
    #related_questions
      *
        border: 0px
      .toolbar
        display: none
      article
        padding: 0
        margin: 0
        h3
          font-size: 12px
          font-weight: normal
          a
            background-color: $lightOrange
            padding: 5px 10px
            border: 0px !important
            display: block
            &:first-letter
              text-transform: uppercase

// Main Question - Action Panels
#panel-forms
  height: 100%
  clear: both
  padding: 0

  form
    display: none
    margin: 0 auto
    padding: 20px
    width: 90%
    overflow: hidden
    padding: 2%


// Main Question Tags

.questions-tags
  margin: 0
  padding: 6px
  .title
    font-size: 16px
    font-weight: bold
    color: #6f6f6f
    font-family: 'Open Sans Condensed'
    display: block
    float: left
    padding: 3px 6px 0 0
  .tags
    display: inline-block
    .tag
      float: left
      padding: 3px
      margin-right: 3px
      border-radius: 5px
      .tag-left
        float: left
        padding: 0 2px 0 8px
        background-color: #f3f6f6
        border: #ffffff 1px solid
        border-top: #fff 2px solid
        outline: #cfdbdb 1px solid
        color: #717179
      .remove_tag
        margin-top: -1px
        float: left
        text-align: center
        height: 20px
        width: 18px
        color: #ffffff
        font-size: 10px
        font-family: 'Open Sans Condensed'
        line-height: 20px
        border-top: #cfdbdb 1px solid
        border-radius: 3px
        background-color: #bbcdcd
        text-shadow: 0px 1px 0px #7ea0a0
      
// Main question related question empty
.related_question_empty, .related_tag_empty
  text-align: center
  font-size: 15px
  color: #707070
  padding: 45px 0px 10px
  clear: both
  line-height: 140%
  margin-bottom: 6px
  border: medium none
  font-family: Arial
  .url
    text-decoration: underline
    cursor: pointer

.related_question_ask, .related_tag_ask
  text-align: center
  font-size: 15px
  padding: 15px 0px 10px
  clear: both
  line-height: 140%
  margin-bottom: 6px
  border: medium none
  font-family: Arial
  text-decoration: underline
  cursor: pointer

